.OnlyToDoContainer
{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
     
}
.OnlyToDoContainer:hover
{
    margin-left: 5px;
    margin-bottom: 5px;
    box-shadow: -5px 5px rgb(37, 36, 36);
    border-radius: 5px;
    /* transform: scale(1.1);
    transform-origin: center*/
} 
.top-row
{
    display: flex;
    flex-direction: row;
    align-items: start;
}

